body {
  background-image: url("../../img/bg.jpg");
  overflow: hidden; }

h1 {
  color: red; }

.time-now {
  text-align: center;
  background: #0f4583; }
  .time-now h3 {
    width: 100%;
    color: #ffffff;
    font-weight: 100;
    padding: 10px 0 10px 0;
    margin-bottom: 0; }

.container {
  text-align: center; }

table {
  width: 100%;
  margin-top: 300px; }
  table .round tr {
    width: 1112px; }
  table .round td {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    width: 278px; }
  table .score tr {
    width: 1112px; }
  table .score td {
    text-align: center;
    font-size: 150px;
    color: #ffffff;
    width: 278px; }
    table .score td:first-child, table .score td:last-child {
      font-size: 72px; }
  table .team-info tr {
    width: 1112px; }
  table .team-info td {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    width: 278px; }
